

@model ProductDetailVM
@{
    ViewData["Title"] = "Detail";
}



<div class="container my-5">
    <div class="card">
        <div class="card-header">
            Employee detail
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                 
                    <th>
                        Id
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Category
                    </th>
                   
            </thead>
            <tbody>


                <tr>
                    <td>
                        @Model.Id
                    </td>
                    <td>
                       
                        <img src="~/img/@Model.MainImage" alt="Alternate Text" />
                    </td>
                    <td>
                        @Model.Title
                    </td>
                    <td>
                        @Model.Description
                    </td>
                    <td>
                        @Model.Price
                    </td>
                    <td>
                        @Model.CategoryName
                    </td>

                </tr>



            </tbody>
        </table>


    </div>
    <a asp-controller="Product" asp-action="Index"  class="btn btn-primary my-3">Back</a>
</div>



